# AWS and Amazon Bedrock
AWS_REGION=us-west-2
MODEL_ID=us.anthropic.claude-sonnet-4-6

# AgentCore Payments resources created by the upstream setup tutorial
PAYMENT_MANAGER_ARN=
USER_ID=
INSTRUMENT_ID=

# This example defaults to Base Sepolia. Do not switch to mainnet unless you
# intend to make payments with assets that have real-world value.
NETWORK=ETHEREUM
PAID_API_URL=https://x402-test.genesisblock.ai/api/market-news

# AWS-region LangSmith (recommended)
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://aws.api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=agentcore-payments
